main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  margin: 25px 0;
}

main section h2, main section p {
  color: var(--color-v1);
}

main section img {
  /* margin: 10px 10px 0 0; */
  width: 300px;
  border: 5px inset var(--color-v3);
  border-radius: 3px;
  cursor: pointer;
}


@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  main section {
    margin: 25px 15px;
  }
}
