main {
  margin: 0 25px;
  text-align: center;
}

main section.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 100px;
}

.redirect {
  margin: 10px;
  border: 5px outset var(--color-v3);
  border-radius: 10px;
  background-color: var(--color-v5);
  width: 150px;
  height: 40px;
  color: var(--color-v1);
  font: bold 15px var(--manrope-font);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.redirect:hover {
  border: 3px outset var(--color-v6);
  background-color: var(--color-v7);
  font-size: 16px;
}



@media screen and (min-width: 480px) {
  #title {
    font-size: 2.5em;
  }

  #hello {
    font-size: 1.5em;
  }

  #name {
    font-size: 1.8em;
  }

  #brief {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 768px) {
  #title {
    font-size: 2.7em;
  }

  #hello {
    font-size: 1.8em;
  }

  #name {
    font-size: 2.2em;
  }

  #brief {
    font-size: 1.1em;
  }

  main section.btns {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-height: 720px) {
  main {
    margin: 25px 0;
  }

  main section.btns {
    margin: 50px 0;
  }
}
