.projdes {
  /* margin: 20px 10px 0 0; */
  color: rgb(220, 220, 220);
  font-family: "Courier New", Courier, monospace;
}

.projimg {
  width: 300px;
  border-radius: 3px;
  border: 5px inset var(--color-v3);
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease-in-out;

}

.projimg:hover {
  transform: scale(1.05);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0 50px 0;
}

main section {
  margin: 10px 0;
}

main section h2.projdes {
  font: bold 1.5em var(--outfint-font);
}

main section p.projdes {
  font-family: monospace;
  color: var(--color-v4);
}
