main {
  margin-bottom: 75px;
}

main section {
  background-color: var(--color-v5);
  margin: 25px 15px;
  border-radius: 12px;
  padding: 10px 15px;
  font-family: var(--poppins-font);
  box-shadow: 0 0 7px var(--color-v5);
}

main section h2 {
  color: rgb(220, 220, 220);
  margin-left: 10px;
  font: lighter 1.5em var(--tilt-warp-font);
}

main section ul {
  color: var(--color-v1);
  list-style: none;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  main section {
    flex-basis: 320px;
    flex-shrink: 0;
  }

}

@media screen and (min-width: 1200px) {
  main section {
    flex-basis: 450px;
  }
}


